<div class="container-fluid">
   <div class="col-xs-12 bg-info text-danger"><h4>質疑の編集</h4></div>
</div>

<div class="container-fluid">
   <%= render 'editform'  %>
</div>

<div class="container-fluid">
<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
</div>
