<div class="boxA">
    
  <div class="box1">
  タイトル
  </div>

  <div class="box2"> 
  ナビゲーション 
  </div>

  <div class="box3"> 
  <%= image_tag("header.png", class: "topimg") %> 
  </div>

  <div class="box4"> 
  3つの特長表示欄 
  </div>

  <div class="box5"> 
  コピーライト 
  </div>

</div>