<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @name %>様、お問い合わせありがとうございました。</h2>
      <p>
      ご回答までお時間いただくことがございます。ご了承くださいませ。
      </p>
    <p>
      ------------------------------------------------------------------<br />
      お問い合わせ内容: 
      <%= simple_format(@content) %><br />
      ------------------------------------------------------------------<br />
    </p>
    <p>引き続き、何卒よろしくお願いいたします。</p>
  </body>
</html>