<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、お問い合わせありがとうございました。</h1>
      <p>
      ご回答までお時間いただくことがございます。ご了承くださいませ。
      </p>
    <p>
      お問い合わせ内容:
    </p>
    <p>引き続き、何卒よろしくお願いいたします。</p>
  </body>
</html>