<h1>Editing Comment</h1>

<%= render 'editform' %>

<!-- blog_comment_path(@comment.blog_id, @comment) コメント個別ページにはリンクさせない --!>
<%= link_to 'Show', blog_path(@comment.blog_id) %> |
<%= link_to 'Back', blog_path(@comment.blog_id) %>
