<%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
    <%= f.submit "フォロー", class: "btn btn-primary btn-sm" %>
    <div><%= f.hidden_field :followed_id %></div>
<% end %>