<div class="container">
    <table class="table table-hover">
        
        <thead>
            <tr>
                <th>ユーザ名</th>
                <th>友達つながり</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= link_to user.name, user %>
                </td>
                <td>
                    <% unless user == current_user %>
                    <%= render partial: 'follow_form', locals: { user: user } %>
                    <% else %>
                    <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>


