<% @users.each do |user| %>
　
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>ユーザー名:<%= user.name %></h3>
        <p>プロフィール:<%= user.profile %></p>
        <p><%= profile_img(user) %></p>
        
<% if current_user.id == user.id %>
<%= link_to 'Edit', edit_user_registration_path %>
<% else %>
<% end %>


      </div>
    </div>
  </div>
</div>


<% end %>
　
　