<div class="container">
<h2>依頼したタスク一覧: <small><%= link_to "新規にタスクを依頼する！", new_user_submit_request_path %></small></h2>
<p class="text-right"><%= link_to '>>依頼されているタスク一覧', inbox_user_submit_requests_path %></p>
</div>

<div class="container">
<div id="submit_requests_<%= current_user.id %>">
    <%= render partial: 'submit_requests_list', locals: { submit_requests: @submit_requests } %>
</div>
</div>