<div class="container-fluid">
 <div class="col-xs-12 bg-info text-danger"><h4>回答の編集</h4></div>
 <%= render 'editform'  %>
</div>

<div class="container-fluid">
<%= link_to 'Back', question_path(@answer.question) %>
</div>